@import '../styles/abstracts/variables';

$breakpoint-tablet: 765px;
$breakpoint-big-screen: 1600px;

.MovieList {
  margin: 0 auto;
  width: 50%;
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }
  @media (min-width: $breakpoint-big-screen) {
    width: 30%;
  }
  
}

.MovieList-paragraph {
  color: $secondary-color;
}

.MovieList-link {
  text-decoration: none;
  color: $input-font-color;
}

.MovieList-pagination {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}
